<div class="pf-c-login">
  <div class="pf-c-login__container">
    <header class="pf-c-login__header">
      <img class="pf-c-brand" ng-src="{{$ctrl.branding.appLogoUrl}}" alt="{{$ctrl.branding.appName}}">
      <span>{{$ctrl.branding.appType}}</span>
    </header>
    <main class="pf-c-login__main">
      <header class="pf-c-login__main-header">
        <h1 class="pf-c-title pf-m-3xl">
          Log in to your account
        </h1>
      </header>
      <div class="pf-c-login__main-body">
        <form novalidate class="pf-c-form" ng-submit="$ctrl.doLogin()">
          <p class="pf-c-form__helper-text pf-m-error" ng-class="{'pf-m-hidden': !$ctrl.wrongPassword}">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            &nbsp;Invalid login credentials
          </p>
          <div class="pf-c-form__group">
            <label class="pf-c-form__label" for="username">
              Username
            </label>
            <input id="username" name="username" type="text" class="pf-c-form-control"
              ng-model="$ctrl.entity.username" aria-invalid="{{$ctrl.wrongPassword}}" autocomplete="username"
              required autofocus></input>
          </div>
          <div class="pf-c-form__group">
            <label class="pf-c-form__label" for="password">
              Password
            </label>
            <input id="password" name="password" type="password" class="pf-c-form-control"
              ng-model="$ctrl.entity.password" aria-invalid="{{$ctrl.wrongPassword}}" autocomplete="current-password"
              required></input>
          </div>
          <div class="pf-c-form__group pf-m-action">
            <button type="submit" class="pf-c-button pf-m-primary pf-m-block">
              Log in
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
